/*Author: Maria Molloy*/

/* style for the main body of each page*/
body	{
	font-family: "Verdana", Geneva, sans-serif;
	text-align: center;
	background-color: #ffe6e6;
}

h3	{
	font-family: "Verdana", Geneva, sans-serif;
	color: white;
	text-align: center;
}

/* style for navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff0000;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
	font-family: "Verdana", Geneva, sans-serif;
	font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #990000;
}

.active {
    background-color: #ff8080;
}

.header {
	background-color: #ff0000;
	padding: 0;

}

/* style for tables from database printed on pages */
table, th, td {
    border: 2px solid red;
    border-collapse: collapse;
}
